.idea
.rvmrc
.DS_Store
deja_test.rb
test.rb
neo4j
# /spec/dummy/config/database.yml
# /spec/dummy/db/migrate
# /spec/dummy/db/schema.rb
/spec/reports
/spec/dummy/log/*
# /db/migrate
# /db/schema.rb
# /config/database.yml
