.idea
.rvmrc
.DS_Store
.bundle
deja_test.rb
test.rb
neo4j
/spec/reports
/spec/dummy/log/*
/tmp

/log

/spec/dummy/config/database.yml
/spec/dummy/db/migrate
/spec/dummy/db/schema.rb
/db/migrate
/db/schema.rb
/config/database.yml
